@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    display: flex;

    .header-bg {
        background: url(../img/cuisine.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 800px;

        .header-gradient {
            background: linear-gradient(-50deg, rgba(221, 114, 48, 1), rgba(231, 227, 147, 0.6));
            width: 100%;
            height: 800px;

            .header-right {
                width:35%;
                text-align: left;
                float:right;
                padding-top:18rem;
                margin-right:10rem;

                h1 {
                    font-family: abril fatface;
                    font-size: 5rem;
                    color: #fff;
                }

                h2 {
                    font-family: playfair display;
                    color: #fff;
                    font-size: 1.8rem;
                    font-weight:300;
                }

                /*******NAVBAR TOP******/

                .navbar {
                    width:100%;
                    margin-top:10rem;
                    top:0;
                    position:sticky;
                    
    
                    a {
                        font-family: playfair display;
                        color:#fff;
                        font-weight:600;
                        font-size:1.4rem;
                        position:sticky;
                    }
            
                    a:hover {
                        color:#fff;
                    }
                }
            }

        }
    }

}



    .introduction {
        width:100%;
        background:#dedede;
        height:auto;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .intro-img {
            background:url(../img/side.jpg);
            background-size:100%;
            background-repeat: no-repeat;
            background-position: center;
            width:430px;
            height:450px;
            border:10px solid #fff;
            margin:60px 20px;

            .intro-gradient {
                background: linear-gradient(0deg, rgba(238,214,120, 0.8), rgba(200,240,201, 0.6));
                width:100%;
                height:430px;
            }
        }

        .intro-txt {
            width:40%;

            p {
                padding:20px;
                font-family: playfair display;
            }
        }
    }

    /**********MENU ONGLETS**********/

    .menu {
        width:100%;
        background:#fff;
        height:auto;
        padding:60px 20px;

        h2 {
            font-family: abril fatface;
            color:#e7e192;
            font-size:2.5rem;
            margin-left:5rem;
            line-height:100%;
            padding-bottom:2rem;
        }

        #pills-home {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }

        #pills-home-tab {
            background:#fff;
            color:#F4C95D;
            padding:0px;
        }

        #pills-home-tab.active {
            background:#fff;
            color:#DD7230;
            padding:0px;
        }
        
        #pills-profile-tab {
            padding:0px;
            background:#fff;
            color:#F4C95D;
        }

        #pills-profile {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }

        #pills-profile-tab.active {
            padding:0px;
            background:#fff;
            color:#DD7230;
        }

        #pills-contact-tab {
            padding:0px;
            background:#fff;
            color:#F4C95D;
        }

        #pills-contact {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }

        #pills-contact-tab.active {
            padding:0px;
            background:#fff;
            color:#DD7230;
        }

        .nav-link {
            margin-left:5rem;
            font-family: playfair display;
            font-weight:600;
            font-size:1.5rem;
            background:#fff;
            color:#DD7230;
        }
        

        /********LES PLATS*******/

        .card {
            border-radius:0px;

            p {
                font-family: arimo;
            }

            img {
                border-radius: 0px;
            }

            h5 {
                font-family: abril fatface;
                padding:10px;
            }

            .link-btn {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .price {
                button {
                    border-radius:0px;
                    background:#fff;
                    border:0px;
                    font-family: abril fatface;
                    font-weight:bold;
                    color:#000;
                    font-size:1.2rem;
                }
            }

            .info-cmd {
                .btn-primary {
                    border-radius:0px;
                    font-family: playfair display;
                    border:0px;
                    background:#F4C95D;
                }

                .btn-success {
                    border-radius:0px;
                    font-family: playfair display;
                    background:#DD7230;
                    border:0px;
                }
            }

            .modal-content {

                h1 {
                    font-family: playfair display;
                    font-weight:600;
                }

                .modal-body {
                    font-family: playfair display;
                }

                .btn-secondary {
                    border-radius:0px;
                    font-family: playfair display;
                    border:0px;
                }

                .btn-primary {
                    background:#AFE1B1;
                    color:#000;
                }
            }
            
        }
    }

    footer {
        background: linear-gradient(90deg, rgba(221, 114, 48, 1), rgba(231, 227, 147, 1));
            width: 100%;
            height: 600px;
    }